{% block title %}
{% endblock title %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}"></a>logout</li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li><a href="{% url "signup" %}"></a>signup</li>
                    <li><a href="{% url "login" %}"></a>login</li>
                {% endif %}
            </ul>
        </nav>
    </header>

{% endblock content %}
</body>

</html>
