{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        {% block content %}
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>Vendor</tr>
                <tr>Total</tr>
                <tr>Tax</tr>
                <tr>Date</tr>
                <tr>Category</tr>
                <tr>Account</tr>
            </thead>
            <tbody>
                {% for list in receipt_list %}
                    <tr>
                        <td>{{ list.vendor }}</td>
                        <td>{{ list.total }}</td>
                        <td>{{ list.tax }}</td>
                        <td>{{ list.date|date:"m/j/y" }}</td>
                        <td>{{ list.category }}</td>
                        <td>{{ list.account }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock content %}
    </main>

</body>
</html>
